.movie-search {
  @include font("baseline");

  @include break(tablet) {
    @include font("heading-regular");
  }

  .fetch-status {
    @include font("heading-regular");
  }

  .search-field {
    margin: 0 auto;
    padding: 14px 30px;
    display: block;
    border: 4px solid $light-green;
    border-radius: 24px;
    max-width: 600px;
    color: $light-blue;
    text-align: center;

    &::placeholder {
      color: $dark-blue;
    }

    &:hover,
    &:focus {
      border-color: $light-blue;
      caret-color: $light-blue;
    }
  }

  &-results {
    margin-top: 40px;
    padding-right: 20px;
    text-align: left;
    max-height: 460px;
    overflow-y: auto;

    &.results-empty {
      display: none;
    }

    .search-result {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
