body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $body-background;
  color: $dark-blue;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.fetch-status {
  display: block;
  margin-top: 20px;

  &-error {
    @extend .fetch-status;
    color: $error;
  }
}
