@mixin font($style) {
  margin: 0;
  font-family: "Roboto", sans-serif;

  @if $style == "baseline" {
    font-size: 16px;
    font-weight: 400;
  } @else if $style == "heading-big" {
    font-size: 48px;
    font-weight: 700;
  } @else if $style == "heading-regular" {
    font-size: 24px;
    font-weight: 700;
  } @else if $style == "cta" {
    font-size: 12px;
    font-weight: 700;
  } @else if $style == "small-text" {
    font-size: 12px;
    font-weight: 400;
  }
}
